<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        {{message}}
    </div>

    <div id="counter">
        <h1>{{count}}</h1>
        <button v-on:click="add">+1</button>
    </div>

    <div id="app2">
        <span v-if="see">Now you see me</span>
        <span v-else>Now you don't</span>
    </div>
    <br>
    <div id="app3">
        <div v-for="step in steps">{{step}}</div>
    </div>

    <div id="counter2">
        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>
        <button v-on:click="remove">-1</button>
    </div>

    <div id="typeIn">
        <input type="text" v-model="text" />
        <span>{{text}}</span>
    </div>
    <script src="app.js"></script>

</body>

</html>